/* Überschreiben der Bootstrap Styles wenn User*innen den "Dark-Mode" waehlen*/
/* Bootstrap und MDN Webdocs empfehlen fuer das Ueberschrieben von Bootstrap-styles Aenderungen per Scss einzupflegen-hier wurde
stattdessen die weniger empfohlene "bad-practice" !important zum ueberschrieben der styles gewaehlt da der Fokus des Projektes weniger auf dem Front- als auf dem 
Backend liegt */
/* HIntergrund */
html, body
{
    height: 100%!important;
    background-color:#05041B;
}
/* Schriftfarbe- und groesse */
.font-reverse
{
    color: #1b1e21!important;
}
html,body,td,table,tr
{
    color: #fff!important;
    font-size:17px!important;
}
#wrap,#main
{
    padding: 0!important;
    margin: 0!important;
    height: 90vh!important;
}
.footer{
    padding: 0!important;
    margin: 0!important;
    height: 9vh;
}

/*HIntergurndfarben*/
hr,.hr
{
    background-color: #fff!important;
}
.card-header
{
    background-color: #3A394A!important;
}
.card,.data,.form-group,.card-body
{
    background-color: #555d6b!important;
}

list-goup-flush .list-group-item
{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #000!important;
    border-top:1px solid #ffffff!important;

}

/* hintergrundfarbe Navigationsleiste */
 .bg-light 
{
    background-color: #3A394A!important;   
}
/* Farbe fuer Links,Listenpunkte,ungeordnete Listes, Buttons*/
 a,li,ul,button
{
color: #fff!important;
}
.dropdown-item:hover
{
background-color: grey;
}
.d-button
{
	background-color: 	rgb(105,105,105,0.8)!important;;
}
.border
{
	border-color: #fff!important;
}

/*Buttons*/
.btn-enter
{
    background-color: #3A394A!important;
    color: #fff!important;
}


