/* Überschreiben der Bootstrap Styles wenn User*innen den "Dark-Mode" waehlen*/
/* Bootstrap und MDN Webdocs empfehlen fuer das Ueberschrieben von Bootstrap-styles Aenderungen per Scss einzupflegen-hier wurde
stattdessen die weniger empfohlene "bad-practice" !important zum ueberschrieben der styles gewaehlt da der Fokus des Projektes weniger auf dem Front- als auf dem 
Backend liegt */
/* HIntergrund */
html, body
{
    height: 100%!important;
    background-color:#05041B;
}
/* Schriftfarbe- und groesse */
html,body,td,table,tr
{
    color: #fff!important;
    font-size:17px!important;
}
/* hintergrundfarbe Navigationsleiste */
 .bg-light 
{
    background-color: #3A394A!important;   
}
/* Farbe fuer Links,Listenpunkte,ungeordnete Listes, Buttons*/
 a,li,ul,button
{
color: #fff!important;
}
.dropdown-item:hover
{
background-color: grey;
}
.d-button
{
	background-color: 	rgb(105,105,105,.8)!important;;
}
.border
{
	border-color: #fff!important;
}
