html,body
{
    height: 100%!important;
    padding: 0!important;
    margin: 0!important;
}


#wrap,#main
{
    padding: 0!important;
    margin: 0!important;
    height: 90vh!important;
}
.footer{
    padding: 0!important;
    margin: 0!important;
    height: 9vh;
}
